<div class="container" id="main-container">
<div *ngFor="let task of task">
<div><h3>{{task?.title}}</h3></div>  
<div>{{task?.content}}</div>
<div><a (click)="onOpenModal(task, 'edit')" data-placement="top" data-original-title="Edit">Edit</a>&nbsp;<a class="delete" (click)="onDeleteTask(task?.id)">Delete</a>
<br>
</div>
</div>
<br><br>
<div><a class="add" (click)="onOpenModal(null, 'add')">New task</a></div>
<form #addForm="ngForm" (ngSubmit)="onAddTask(addForm)">
    <label for="title">Title</label>
    <input type="text" ngModel name="title"
    id="title" required>
    <label for="content">Content</label>
    <input type="text" ngModel name="content"
    id="content" required>
    <button [disabled]="addForm.invalid" type="submit">Save</button>
</form>


<div class="modal fade" id="updateTaksModal" tabindex="-1" role="dialog" aria-labelledby="taskUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateTaskModalLabel">Edit Task {{editTask?.title}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="title">Title</label>
                   <input type="text" ngModel="{{editTask?.title}}" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Title">
                </div>
                <div class="form-group">
                   <label for="content">Email Address</label>
                   <input type="content" ngModel="{{editTask?.content}}" name="content" class="form-control" id="content" placeholder="Content">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateTask(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
</div>